<form (ngSubmit)="accountActivate()" #ForgotForm=ngForm>
    <label>Code</label>
    <div class="mb-3">
        <input type="text" class="form-control" [(ngModel)]="data.code" name="code" placeholder="XXXXXX" aria-label="Code" aria-describedby="code-addon" required>
    </div>

    <div class="text-center">
        <button *ngIf="bfractivate" type="submit" class="btn bg-gradient-danger w-100 mt-4 mb-0" [disabled]="!ForgotForm.valid">Activate Account</button>

        <button *ngIf="activating" class="btn bg-gradient-danger w-100 mt-4 mb-0" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Account Activating...
          </button>
    </div>
    <br>
    <i><a href="login" class="d-flex justify-content-center"> Sign In</a></i>

</form>