
 <div class="row">
    <div class="col-md-6"></div>
  
    <div class="col-md-6">    
      <input type="search" class="form-control" name="search"  autocomplete="on" placeholder="Search Payment" />
    </div>
  </div>
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr style=" background-color: #79797c; color: white;">
          <th><b>#</b></th>
          <th class="th-sm"><b>Project Name</b>  
          </th>
          <th class="th-sm"><b>Task Name</b>  
          </th>
          <th class="th-sm"><b>Implemetation Plan</b>  
          </th>
          <th class="th-sm"><b>Status</b>  
          </th>
          <th class="th-sm"><b>Action</b>  
          </th>
        </tr>
      </thead>
      <tbody>     
        <tr>
          <td>1</td>
          <td>Software Development</td>
          <td>Gathering Of Requirements</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Onprogress</td>  
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>  
        </tr>
        <tr>
          <td>2</td>
          <td>SYSTEM AWARENESS</td>
          <td>User Training</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Onhold</td>
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>SYSTEM Testing</td>
          <td>User and security team testing</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Onhold</td>
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>System Maintaince</td>
          <td>Developement team Maintaing the system</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Overdue</td>
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Netwoking Configuration</td>
          <td>Assigning id adress to devices</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Overdue</td>
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>Networking Maintainance</td>
          <td>Network team to draw network infr</td>
          <td><a href="#"><i class="fa fa-file-pdf" ></i><img src=""></a></td>
          <td>Onhold</td>
          <td>
            <a  href="#"><i class="far fa-eye" style="color:#2c6ddd;"></i>&nbsp;</a> 
            <a  href="#">&nbsp;<i class="fas fa-edit" style="color:#2c6ddd;"></i></a> 
          
          </td>
        </tr>
       
      </tbody>
      <tfoot>
        <tr style=" background-color: #79797c; color: white;">
          <th><b>#</b></th>
          <th class="th-sm"><b>Project Name</b>  
          </th>
          <th class="th-sm"><b>Task Name</b>  
          </th>
          <th class="th-sm"><b>Implemetation Plan</b>  
          </th>
          <th class="th-sm"><b>Status</b>  
          </th>
          <th class="th-sm"><b>Action</b>  
          </th>
        </tr>
      </tfoot>
    </table>