
  <div class="row">
    <div class="col-md-6"></div>
  
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <input type="search" class="form-control" name="search"  autocomplete="on" placeholder="Search" />
    </div>
  <!-- </div>
  <div class="table-responsive p-0">
    <table class="table table-hover align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Act Name</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Publisher</th>         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-secondary font-weight text-xs"></td>
          <td class="font-weight-bold"></td>
          <td class="font-weight-bold"></td>               
        </tr>
      </tbody>
    </table>
    <hr />
  </div>
   -->

   <br><br>
<div class="container">           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Start From</th>        
        <th>Due Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
        <td>Doe</td>
        <td>Overdue</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>John</td>
        <td>Doe</td>
        <td>Ongoing</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>John</td>
        <td>Doe</td>
        <td> Suspended</td>
      </tr>
    </tbody>
  </table>
</div>
