<ng-container *ngIf="this.variable.appSuccess">
  <div class="alert alert-success alert-dismissible fade show text-white" role="alert">
    <span class="alert-icon"><i class="fal fa-check-circle fa-lg"></i></span>&nbsp;
    <span class="alert-text"><strong>Success!</strong> {{ variable.successMessage }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<ng-container *ngFor="let permission of subaction.actionPerm">
  <ng-container *ngFor="let perms of permission.details">
    <a *ngIf="perms.name == 'add-category'" href="add-categories/{{ sub_moduleId }}" class="btn bg-gradient-primary"><i class="fal fa-plus fa-lg"></i> Add Category</a>
  </ng-container>
</ng-container>

<ng-container *ngIf="variable.deleteUser">
  <div class="alert alert-success alert-dismissible fade show text-white" role="alert">
    <span class="alert-icon"><i class="fal fa-check-circle fa-lg"></i></span>&nbsp;
    <span class="alert-text"><strong>Success!</strong> Category Deleted</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<div class="row">
  <div class="col-md-6"></div>

  <div class="col-md-6">
    <div class="col-md-1"></div>
    <input type="search" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="Search" />
  </div>
</div>
<div class="table-responsive p-0">
  <table class="table table-hover align-items-center mb-0">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Project Category Name</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Project icon</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categoryList | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td class="text-secondary font-weight text-xs">{{ i + 1 }}</td>
        <td class="font-weight-bold">{{ category.categoryName }}</td>
        
        <td class="font-weight-bold"><img src="{{basepath+category.categoryIcon}}" alt="sioni" class="image-icon"></td>
        <td class="align-middle text-center text-sm">
          <span *ngIf="category.status == 1" class="badge badge-sm bg-gradient-success">Active</span>
          <span *ngIf="category.status == 0" class="badge badge-sm bg-gradient-danger">Inactive</span>
        </td>
        <td class="align-middle text-center">
          <ng-container *ngFor="let permission of subaction.actionPerm">
            <ng-container *ngFor="let actionPerms of permission.details">
              <a *ngIf="actionPerms.name == 'edit-category'" href="edit-categories/{{ sub_moduleId }}/{{ category.id }}" class="text-info font-weight-bold text-xs text-center" data-toggle="tooltip" data-original-title="Edit category"> Edit &nbsp;</a>
              <a *ngIf="category.status == 1 && actionPerms.name == 'deactivate-category'" href="#deactivateCategory{{ category.id }}" class="text-success font-weight-bold text-xs text-center" data-bs-toggle="modal"> Deactivate &nbsp;</a>
              <a *ngIf="category.status == 0 && actionPerms.name == 'activate-category'" href="#activateCategory{{ category.id }}" class="text-primary font-weight-bold text-xs text-center" data-bs-toggle="modal"> Activate &nbsp;</a>
            </ng-container>
          </ng-container>
          <a href="projects/{{ sub_moduleId }}/{{ category.id }}" class="text-secondary font-weight-bold text-xs text-center" data-toggle="tooltip" data-original-title="Edit category">Projects </a>
        </td>

        <!-- DEACTIVATE CATEGORY -->
        <div class="modal fade" id="deactivateCategory{{ category.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header justify-content-end">
                <button *ngIf="action" type="button" class="btn btn-link text-primary ml-auto" data-bs-dismiss="modal">Close</button>
              </div>
              <div class="modal-body text-center">
                <i *ngIf="action">
                  Are you sure you want to deactivate ?<br />
                  <b>{{ category.categoryName }} </b>
                </i>
                <i *ngIf="close"
                  ><b>{{ category.categoryName }} </b> successful deactivated</i
                >
                <i *ngIf="close" class="text-success"><br /><br /><i class="fal fa-check-circle fa-4x"></i></i>
                <i *ngIf="actionError"
                  ><b>{{ message }}</b></i
                >
                <i *ngIf="actionError" class="text-danger"><br /><br /><i class="fal fa-times-circle fa-4x"></i></i>
              </div>

              <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="action" class="btn bg-gradient-danger" (click)="deactivateCategory(category.id)">Yes Deactivate</button>
                <button *ngIf="close" class="btn bg-gradient-danger" data-bs-dismiss="modal" (click)="reloadPage()">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /DEACTIVATE CATEGORY -->

        <!-- ACTIVATE CATEGORY -->
        <div class="modal fade" id="activateCategory{{ category.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header justify-content-end">
                <button *ngIf="action" type="button" class="btn btn-link text-primary ml-auto" data-bs-dismiss="modal">Close</button>
              </div>
              <div class="modal-body text-center">
                <i *ngIf="action"
                  >Are you sure you want to activate <b>{{ category.categoryName }} </b
                  >?</i
                >
                <i *ngIf="close"
                  ><b>{{ category.categoryName }} </b> successful activated</i
                >
                <i *ngIf="close" class="text-success"><br /><br /><i class="fal fa-check-circle fa-4x"></i></i>
                <i *ngIf="actionError"
                  ><b>{{ message }}</b></i
                >
                <i *ngIf="actionError" class="text-danger"><br /><br /><i class="fal fa-times-circle fa-4x"></i></i>
              </div>

              <div class="modal-footer d-flex justify-content-center mb-3">
                <button *ngIf="action" class="btn bg-gradient-danger" (click)="activateCategory(category.id)">Yes Activate</button>
                <button *ngIf="close" class="btn bg-gradient-danger" data-bs-dismiss="modal" (click)="reloadPage()">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /ACTIVATE CATEGORY -->
      </tr>
    </tbody>
  </table>
  <hr />
  <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>
