<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <app-navbar></app-navbar>
    <div class="row">
      <ng-container *ngIf="token != 0">
        <div class="col-12 col-xl-3">
          <app-sidebar></app-sidebar>
        </div>
  
        
        <div class="col-12 col-xl-9">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">              
                  <nav class="navbar navbar-light bg-light">
                    <!-- <h3>Payment</h3>    -->
                    
  <div class="container">
      <h3>Extension Of Time</h3> 
      <a  href="project_extension/{{ sub_moduleId }}" class="btn bg-gradient-primary"><i class="fa fa-arrow-left"></i>Back to Extension List</a> 
    </div>            
                  </nav>
                </div>
              </div>
            </div>
            
            <div class="card-body">            
              <!-- content start here -->
        <app-extension-form></app-extension-form>
              <!-- content ends here -->
              </div>
            </div>
          </div>
      </ng-container>
  
      <ng-container *ngIf="token == 0">
        <app-reset-session></app-reset-session>
      </ng-container>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
  <!-- PROFILE MODAL -->
  <app-logout></app-logout>
  