@media screen and (min-width: 991px) {

    .sidebar-part{
        width:20%;
        
    }
    .main-body{
        width:78%;
        background-color: rgb(255, 255, 255);
        margin-top:0.3rem;
    }

}	