<div class="responsive p-2">

    <div class="row">

        <div class="col-xl-46 col-lg-3 col-md-12">
            <a href="/module-permissions/{{id}}">
                <div class="card shadow-lg rounded">
                    <div class="d-flex justify-content-center">
                        <i class="fad fa-th fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Module Permissions</h5>
                        <p class="card-text text-center">Apply permission for modules and sub-modules which can be accessed with this role.</p>
                        <!-- <a href="#" class="btn btn-primary d-flex justify-content-center">Apply</a> -->
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xl-46 col-lg-3 col-md-12">
            <a href="#">
                <div class="card shadow-lg rounded">
                    <div class="d-flex justify-content-center">
                        <i class="fal fa-bullseye-pointer fa-7x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Action Permissions</h5>
                        <p class="card-text text-center">Apply permission for sub-modules' actions which can be accessed with this role.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>